# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies on Linux
        run: sudo apt-get install libgsl-dev libwebp-dev libx11-dev libcairo2-dev

      - name: Compile and install SLiM
        run: |
          # download SLiM into a separate directory to avoid CRAN errors
          mkdir -p ~/deps
          cd ~/deps

          # installation instructions copied from the SLiM manual:
          wget https://github.com/MesserLab/SLiM/releases/download/v5.1/SLiM.zip
          unzip SLiM.zip
          cd SLiM
          cmake .
          make slim

      - name: Populate PATH with compiled binaries
        run: |
          export PATH="$HOME/deps/SLiM:$PATH"
          echo "PATH=$PATH" >> ~/.Renviron

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install devtools-related dependencies on Linux
        if: runner.os == 'Linux'
        run: sudo apt-get install libcurl4-openssl-dev libharfbuzz-dev libfribidi-dev

      - name: Setup dedicated Python environment for slendr
        run: |
          install.packages("reticulate", repos = "http://cran.rstudio.com")
          reticulate::install_miniconda()
          deps <- c("msprime==1.3.4", "tskit==0.6.4", "pyslim==1.1.0")
          PYTHON_ENV <- paste0("Python-3.13_", paste(gsub("==", "-", c(deps, "tspop==0.0.2")), collapse = "_"))
          reticulate::conda_create(envname = PYTHON_ENV, python_version = '3.13')
          reticulate::use_condaenv(PYTHON_ENV, required = TRUE)
          reticulate::conda_install(envname = PYTHON_ENV, packages = c("msprime==1.3.4", "tskit==0.6.4"), pip = FALSE)
          reticulate::conda_install(envname = PYTHON_ENV, packages = c("tspop==0.0.2", "pyslim==1.1.0", "pyarrow"), pip = TRUE)
        shell: Rscript {0}

      - name: Use a separate .Rbuildignore file
        if: runner.os != 'Windows'
        run: mv ${{ github.workspace }}/.Rbuildignore_GitHub ${{ github.workspace }}/.Rbuildignore

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr
          needs: coverage

      - name: Test coverage
        run: |
          covr::codecov(
            token = "${{secrets.CODECOV_TOKEN}}",
            quiet = FALSE,
            clean = FALSE,
            install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package"),
            type = c("tests", "vignettes"),
            function_exclusions = c("print\\.", "summary\\.", "compute_fitness", "run_ga")
          )
        shell: Rscript {0}

      - name: Show testthat output
        if: always()
        run: |
          ## --------------------------------------------------------------------
          find ${{ runner.temp }}/package -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-test-failures
          path: ${{ runner.temp }}/package
